@import "../../../stylesheets/constants";

.ModalHeader {
	height: $grid * 50;
	background: url("../../../images/splash_modal_cover.png");
	background-position: center;
	background-size: cover;
	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	a.Base--clickable.Link {
		color: var(--color-white);
	}
}
