@import "../../../stylesheets/default";
@import "../../../stylesheets/constants";

.add-step-sidebar .add-step-sidebar-step {
	r-add-step-item {
		display: block;
	}

	$spacing: 8px;

	.step {
		$icon-size: 52px;
		position: relative;

		button.select {
			@include size(100%);
			border: 2px solid $def-lightgrey;
			@include border-radius($def-box-radius);
			@include transition(border-width $def-transition_duration, border-color $def-transition_duration);

			svg {
				@include position(absolute, 8px, 8px);
				@include size(10px);
				vertical-align: top;
				@include transition(fill $def-transition_duration);

				use {
					fill: transparent;
				}
			}
		}

		.step-content {
			@include lazy-loaded-image-container($icon-size);

			padding: 13px;
			text-align: left;

			.icon {
				position: relative;
				@include flex-shrink(0);
				@include size($icon-size);
				margin-right: 15px;
				@include border-radius($def-box-radius);
			}

			.details {
				margin-left: $spacing;
				height: $icon-size;
				font-size: 13px;

				.summary {
					@include flex-shrink(0);
					margin-bottom: auto;
					line-height: 18px;
					overflow: hidden;
					font-weight: 400;
					color: $def-mediumdarkgrey;

					p {
						@include ellipsis-oneliner;
					}

					a {
						position: relative;
						color: $def-green;
						@include transition(color $def-transition_duration);

						&:hover,
						&:focus {
							color: $def-green-shade;
						}
					}

					&:not(.ninja) > p {
						margin-top: 0;
					}
				}
			}
		}

		button.select:hover,
		button.select:focus {
			border-color: $def-green;

			svg use {
				fill: $def-green;
			}
		}
	}
}
