.bitrise*
.gows.user.yml
gin-bin
custom_yml/
apiserver/www
build/
.bundle/
rice-box.go
_bin/
.idea
.vscode
.eslintcache
coverage/
storybook-static/

node_modules
.docker-sync
.env
.vendor
junit.xml

# LD local
ld.local.json

# OS X
.DS_Store
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

debug-storybook.log
