.bitrise*
.gows.user.yml
gin-bin
custom_yml/
apiserver/www
build/
.bundle/
rice-box.go
_bin/
.idea
.vscode
.eslintcache
coverage/
storybook-static/

node_modules
spec/integration/cypress/videos
spec/integration/cypress/screenshots
spec/integration/cypress/results
.docker-sync
.env
.vendor

# LD local
ld.local.json

# OS X
.DS_Store
