(function() {
  "use strict";

  angular
    .module("BitriseWorkflowEditor")
    .directive("fileUploader", function($parse) {
      return {
        restrict: "E",
        replace: true,
        transclude: true,
        template: function(tElement, tAttrs) {
          var formElement = angular.element(
            "<form enctype='multipart/form-data' class='file-uploader'></form>"
          );
          formElement.attr("ng-submit", tAttrs.onupload);
          formElement.attr("name", tAttrs.model);

          var fileInputElement = angular.element("<input type='file'>");
          fileInputElement.attr("ng-disabled", tAttrs.ngDisabled);
          fileInputElement.attr("multiple", tAttrs.multiple);
          fileInputElement.appendTo(formElement);

          var submitInputElement = angular.element(
            "<input type='submit' tabindex='-1'>"
          );
          submitInputElement.attr("ng-disabled", tAttrs.ngDisabled);
          submitInputElement.appendTo(formElement);

          var contentElement = angular.element(
            "<div ng-transclude class='content'></div>"
          );
          contentElement.appendTo(formElement);

          return formElement.prop("outerHTML");
        },
        link: function(scope, element, attrs) {
          var fileInputElement = element.find("input[type='file']");

          fileInputElement.change(function(event) {
            $parse(attrs.onFileChange)(scope, {
              $files: event.target.files
            });

            element.find("input[type='submit']").click();

            event.target.form.reset();
          });
        }
      };
    });
})();
