@import "default";
@import "constants";

.cardo {
	border: 1px solid $def-mediumlightgrey;
	@include border-radius($cardo-borderradius);
	overflow: hidden;

	header {
		padding: $cardo-verticalpadding $cardo-horizontalpadding;
		background-color: $def-verylightgrey;

		h2 {
			@include margin-y(0);
			font-size: 16px;
			font-weight: 700;

			em {
				font-style: normal;
				font-weight: 300;
			}
		}

		h2:not(:last-child) {
			margin-bottom: 8px;
		}

		p {
			@include margin-y(0);
			font-size: 13px;
			font-weight: 400;
			color: $def-darkgrey;
		}
	}

	article:not(.unpadded) {
		padding: $cardo-verticalpadding $cardo-horizontalpadding;
	}
}
