.cardo {
	border: 1px solid #ccc;
	border-radius: 6px;
	overflow: hidden;
}

.cardo header {
	padding: 12px 18px;
	background-color: #ececec;
}

.cardo header h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 700;
}

.cardo header h2 em {
	font-style: normal;
	font-weight: 300;
}

.cardo header h2:not(:last-child) {
	margin-bottom: 8px;
}

.cardo header p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 400;
	color: #616161;
}

.cardo article:not(.unpadded) {
	padding: 12px 18px;
}
