@import "default";
@import "constants";

.clear-value {
    @include box-sizing(border-box);
    cursor: pointer !important;
    padding: 8px 12px;
    border: 1px solid;
    @include border-radius(0px $def-radius $def-radius 0px);
    border-color: $def-mediumlightgrey;
	color: black;
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	@include transition(border-color $def-transition_duration, opacity $def-transition_duration, color $def-transition_duration, background-color $def-transition_duration);

	svg {
        @include transition(fill $def-transition_duration);
        fill: black;
    }

	&:hover, &:focus {
		border-color: $def-mediumlightgrey;
		background-color: $def-mediumlightgrey;
	}
}

a.clear-value {
	display: inline-block;
	text-decoration: none;
}