$def-transition_duration: 0.2s;

$def-green-ultralight: #f5fefb;
$def-green-verylight: #e7f9f3;
$def-green-light: #d6fff2;
$def-aqua: #0dd3c5;
$def-green: #0fc389;
$def-green-shade: #0fb37d;
$def-green-neon: #33e3b3;
$def-danger-shade: #ee003b;
$def-danger: #ff2158;
$def-danger-light: #ffe8ee;
$def-purple: #8151a8;
$def-darkbluegrey: #351d48;
$def-purple-shade: #492f5c;
$def-purple-light: #ebdef6;
$def-blue-shade: #1375b2;
$def-blue: #0d83cd;
$def-blue-light: #e6f2fa;
$def-verydarkgrey: #444444;
$def-darkgrey: #616161;
$def-mediumdarkgrey: #777777;
$def-grey: #acacac;
$def-mediumlightgrey: #cccccc;
$def-lightgrey: #d7d7d7;
$def-verylightgrey: #ececec;
$def-ultralightgrey: #f8f8f8;
$def-yellow-5: #daa900;
$def-yellow: #ffc500;
$def-yellow-1: #fff9e5;
$def-yellow-light: #ffc50066;
$def-yellow-sade: #ffc500cc;

$def-light-grape: #f8f0ff;
$def-grape: #492f5c;
$def-violet_blue: #760fc3;

$rebo-purple-border: #683d87;
$rebo-purple-gradient-bottom: #450674;
$rebo-purple-gradient-top: #6c0eb2;
$rebo-purple-gradient-hover-bottom: #351d48;
$rebo-purple-gradient-hover-top: #351d48;

$def-radius: 4px;
$def-box-radius: 8px;
$def-button-border_radius: $def-radius;

$zindex-checkbox: 0;
$zindex-step_description_open: 0;
$zindex-dragged_element: 20;
$zindex-popover: 45;
$zindex-save_indicator: 62;
$zindex-workflow_selector: 75;
$zindex-sticky_header: 76;
$zindex-add_step_sidebar: 80;
$zindex-add_step-selected_step_clickables: 82;
$zindex-popup: 100;

$main-horizontalpadding: 27px;
$main-horizontalpadding_small: 15px;
$main-verticalpadding: 20px;

$grid: 4px;
$cardo-horizontalpadding: 18px;
$cardo-verticalpadding: 12px;
$cardo-borderradius: 6px;

@mixin SourceCodeProWithFallback {
	font-family: "SourceCodePro", monospace;
}

@function triangle_as_svg_content($width, $height) {
	@return svg_with_content(
		"<polygon points='#{ $width / 2 },0 #{ $width },#{ $height }, 0,#{ $height }'/>",
		$width,
		$height
	);
}
