$def-green: #0fc389;
$def-green-shade: #0fb37d;
$def-danger-shade: #ee003b;
$def-danger: #ff2158;
$def-danger-light: #ffe8ee;
$def-purple: #8151a8;
$def-purple-shade: #492f5c;
$def-purple-light: #ebdef6;
$def-blue-shade: #1375b2;
$def-blue: #0d83cd;
$def-blue-light: #e6f2fa;
$def-darkgrey: #616161;
$def-grey: #acacac;
$def-mediumlightgrey: #cccccc;
$def-lightgrey: #d7d7d7;
$def-verylightgrey: #ececec;
$def-ultralightgrey: #f8f8f8;
$def-yellow-5: #daa900;
$def-yellow: #ffc500;
$def-yellow-1: #fff9e5;

$def-light-grape: #f8f0ff;
$def-grape: #492f5c;
$def-violet_blue: #760fc3;

$def-radius: 4px;
$def-box-radius: 8px;

$zindex-checkbox: 0;
$zindex-dragged_element: 20;
$zindex-popover: 45;
$zindex-sticky_header: 76;
$zindex-add_step_sidebar: 80;
$zindex-popup: 100;

$grid: 4px;
$cardo-horizontalpadding: 18px;
$cardo-verticalpadding: 12px;
