/* Functions */

@function background_image_from_svg_content($svg_content) {
	@return url("data:image/svg+xml;utf8, #{ $svg_content }");
}

/* Screen sizes */

$screen-mid: 768px;
$screen-small: 480px;
$screen-tiny: 360px;
$screen-minimum: 320px;

/* Media Queries */

@mixin media-below($value) {
	@media only screen and (max-width: #{ $value - 1 }) {
		@content;
	}
}

@mixin media-below-mid {
	@include media-below($screen-mid) {
		@content;
	}
}

@mixin media-below-small {
	@include media-below($screen-small) {
		@content;
	}
}

@mixin media-below-tiny {
	@include media-below($screen-tiny) {
		@content;
	}
}

/* Attributes */

@mixin flex($value) {
	flex: $value;
}

@mixin flex-direction($value) {
	flex-direction: $value;
}

@mixin justify-content($value) {
	justify-content: $value;
}

@mixin align-items($value) {
	align-items: $value;
}

@mixin align-self($value) {
	align-self: $value;
}

@mixin order($value) {
	order: $value;
}

@mixin position($position: null, $top: null, $right: null, $bottom: null, $left: null) {
	@if ($position) {
		position: $position;
	}

	@if ($top) {
		top: $top;
	}

	@if ($right) {
		right: $right;
	}

	@if ($bottom) {
		bottom: $bottom;
	}

	@if ($left) {
		left: $left;
	}
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin margin-x($value) {
	margin-left: $value;
	margin-right: $value;
}

@mixin margin-y($value) {
	margin-top: $value;
	margin-bottom: $value;
}

@mixin border-x($value) {
	border-left: $value;
	border-right: $value;
}

@mixin border-y($value) {
	border-top: $value;
	border-bottom: $value;
}

@mixin border-radius($value) {
	border-radius: $value;
}

@mixin border-top-radius($value) {
	border-top-left-radius: $value;
	border-top-right-radius: $value;
}

@mixin border-left-radius($value) {
	border-top-left-radius: $value;
	border-bottom-left-radius: $value;
}

@mixin border-bottom-radius($value) {
	border-bottom-left-radius: $value;
	border-bottom-right-radius: $value;
}

@mixin border-right-radius($value) {
	border-top-right-radius: $value;
	border-bottom-right-radius: $value;
}

@mixin border-top-right-radius($value) {
	border-top-right-radius: $value;
}

@mixin border-bottom-left-radius($value) {
	border-bottom-left-radius: $value;
}

@mixin border-bottom-right-radius($value) {
	border-bottom-right-radius: $value;
}

@mixin padding-x($value) {
	padding-left: $value;
	padding-right: $value;
}

@mixin padding-y($value) {
	padding-top: $value;
	padding-bottom: $value;
}

@mixin transform($values...) {
	transform: $values;
}

@mixin transition($values...) {
	transition: $values;
}

@mixin transition-property($values...) {
	transition-property: $values;
}
