@import "default";
@import "constants";

.file-uploader {
  position: relative;
  border: 2px dashed $def-green;
  @include border-radius($def-radius);
  padding: 18px;

  input[type="file"] {
    @include position(absolute, 0, 0);
    z-index: $zindex-file_uploader_input;
    @include size(100%);
    font-size: 0;
    opacity: 0;
    cursor: pointer;
  }

  input[type="submit"] {
    @include position(absolute, 0, 0);
    @include size(0);
    border: none;
    padding: 0;
    opacity: 0;
  }

  .content {
    text-align: center;
    font-size: 13px;
    opacity: 1;
    color: $def-green;
    @include transition(opacity, $def-transition_duration);

    .file-uploader-message {
      @include display-flex;
      @include justify-content(center);
      margin-bottom: 4px;
      font-weight: 500;

      .info-badge-wrapper {
        @include margin-x(6px);

        svg {
          display: block;
          width: 20px;
          height: 20px;

          circle {
            fill: transparent;
            stroke: $def-darkgrey;
          }

          polygon,
          rect {
            fill: $def-darkgrey;
          }
        }
      }

      .info-message {
        @include margin-y(3px);
      }
    }

    em {
      display: block;
      font-weight: 400;
    }
  }

  input[type="file"]:disabled {
    cursor: not-allowed;
  }

  &.disabled {
    border: 2px dashed $def-lightgrey;

    .content {
      color: $def-darkgrey;
    }
  }
}
