.new-layout {
	width: 100vw;
	height: 100vh;
	display: grid;
	overflow: hidden;
	grid-template-columns: max-content 1fr;
	grid-template-rows: max-content auto max-content;
	grid-template-areas:
		'header header'
		'sidebar content';
}

.new-layout .header {
	grid-area: header;
}

.new-layout .navigation {
	grid-area: sidebar;
	overflow-y: auto;
}

.new-layout > .main {
	grid-area: content;
	padding: 32px;
	overflow-y: auto;
	overflow-x: hidden;
}

.new-layout > .main:has(.triggers-page) {
	padding: 0;
}

.new-layout > .main:has(.env-vars-page) {
	padding: 0;
}

.new-layout > .main:has(.workflows-page) {
	padding: 0;
}

.new-layout > .main:has(.workflows-page) .tab-content,
.new-layout > .main:has(.workflows-page) .tab-content > .workflows-page {
	height: 100%;
}

.new-layout > .main:has(.tab-workflows) {
	padding: 0;
}

.new-layout > .main:has(.tab-workflows) .tab-content,
.new-layout > .main:has(.tab-workflows) .tab-content > .tab-workflows,
.new-layout > .main:has(.tab-workflows) .tab-content > .tab-workflows > .content {
	height: 100%;
}

.new-layout > .main:has(.tab-workflows) .tab-content > .tab-workflows > .content > .workflows > .workflows-container {
	flex: none;
}

.new-layout > .main:has(.tab-pipelines) {
	padding: 0;
}

.new-layout > .main:has(.tab-pipelines) .tab-content,
.new-layout > .main:has(.tab-pipelines) .tab-content > .tab-pipelines {
	height: 100%;
}

.new-layout > .main:has(.tab-step-bundles) {
	padding: 0;
}

.new-layout > .main:has(.tab-step-bundles) .tab-content,
.new-layout > .main:has(.tab-step-bundles) .tab-content > .tab-step-bundles {
	height: 100%;
}

.new-layout > .main:has(.tab-yml) {
	padding: 32px 0 0;
}

.new-layout > .main:has(.tab-yml) .tab-content,
.new-layout > .main:has(.tab-yml) .tab-content > .tab-yml {
	height: 100%;
}

.new-layout > .main > :not(:first-child) {
	margin-top: 20px;
}
