@import "default";
@import "constants";

.popup {
	$transitionduration: 0.3s;

	z-index: $zindex-popup;
	@include position(fixed, 0, 0);
	@include display-flex;
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	@include size(100%);
	background-color: rgba(black, 0.5);

	&.ng-hide {
		background-color: rgba(black, 0);

		.popup-body {
			top: 100%;
		}
	}

	&.ng-animate {
		@include transition(background-color $transitionduration ease);

		.popup-body {
			@include transition(top $transitionduration ease);
		}
	}

	.popup-body {
		position: relative;
		top: 0%;
		width: 600px;
		@include max-size(90%);
		overflow: hidden;
	}

	.popup-body.snowflake {
		$padding-x: 16px;
		$padding-y: 14px;
		$padding: $padding-x $padding-y;

		@include display-flex;
		@include flex-direction(column);
		@include border-radius(6px);
		text-align: center;
		background-color: white;

		header {
			padding: $padding;
			font-size: 19px;
			font-weight: 400;

			h2 {
				font-size: inherit;
				font-weight: inherit;
			}

			&.left-aligned {
				text-align: left;
			}

			&.closeable {
				$close_button_width: 24px;
				$close_button_height: 24px;

				position: relative;
				padding-right: $close_button_width + (2 * $padding-x);

				.popup-close {
					position: absolute;
					top: 50%;
					right: $padding-x;
					margin-top: - $close_button_width / 2;

					svg {
						@include size($close_button_width, $close_button_height);
						display: block;
						fill: $def-mediumdarkgrey;
					}

					&:hover {
						cursor: pointer;

						svg {
							fill: $def-verydarkgrey;
						}
					}
				}

				&:not(.left-aligned) {
					@include padding-x($close_button_width + (2 * $padding-x));
				}
			}
		}

		header + article {
			padding-top: 0;
		}

		article {
			@include flex-grow(1);
			padding: $padding;
			text-align: left;
		}

		footer {
			@include flex-shrink(0);
			@include display-flex;

			button, a, input[type="submit"] {
				@include flex-grow(1);
				@include border-radius(0);
			}
		}
	}

	.popup-body#default-alert-popup-body, .popup-body#default-confirm-popup-body {
		overflow: visible;
		text-align: center;

		&:before {
			$size: 68px;

			content: "";
			position: relative;
			display: block;
			@include size($size);
			margin-bottom: - $size / 2;
			@include margin-x(auto);
			@include border-radius($size / 2);
			background-position: center;
			background-repeat: no-repeat;
		}

		article {
			@include border-top-radius(6px);
			padding: 25px 15px;
			padding-top: 55px;
			overflow: hidden;
			background-color: white;

			h2 {
				@include margin-y(0);
				font-size: 19px;
				font-weight: 700;
			}

			h2:not(:last-child) {
				margin-bottom: 20px;
			}

			p {
				margin-top: 0;
				font-size: 13px;
				font-weight: 400;
				color: $def-grey;

				a {
					color: $def-green;
				}

				a:not(:hover):not(:focus) {
					text-decoration: none;
				}
			}
		}

		footer {
			@include display-flex;
			@include border-bottom-radius(6px);
			overflow: hidden;

			button {
				@include flex-grow(1);
				padding: 20px 10px;
				font-size: 19px;
				font-weight: 400;
				color: white;
				@include transition(background-color $def-transition_duration);
			}
		}
	}

	.popup-body#default-alert-popup-body.success {

		&:before {
			background-image: background_image_from_svg_content('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgba(255,255,255,0.99)"><path d="M10.213 13.915L17.234 7l1.49 1.49L10.212 17 5 11.68l1.49-1.489z"/></svg>');
			background-size: auto 32px;
			background-color: $def-green;
		}

		article {

			h2 {
				color: $def-green;
			}
		}

		footer {

			button {
				background-color: $def-green;
			}

			button:hover, button:focus {
				background-color: $def-green-shade;
			}
		}
	}

	.popup-body#default-confirm-popup-body {

		&:before {
			background-image: background_image_from_svg_content('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" fill="rgba(255,255,255,0.99)"><path d="M112.9 49.3v2.9l-6.8 64.1H93.5l-6.4-64.1v-2.9H112.9zM88.2 150.7v-23.2h23.9v23.2H88.2z"/></svg>');
			background-size: auto 54px;
			background-color: $def-danger;
		}

		article {

			h2 {
				color: $def-verydarkgrey;
			}
		}

		footer {

			button {
				width: 50%;
			}

			button.yes {
				background-color: $def-danger;
			}

			button.yes:hover, button.yes:focus {
				background-color: $def-danger-shade;
			}

			button.no {
				color: $def-verydarkgrey;
				background-color: white;
				border-top: 1px solid $def-lightgrey;
			}

			button.no:hover, button.no:focus {
				background-color: $def-ultralightgrey;
			}
		}
	}

	.popup-body#default-alert-popup-body.error {

		&:before {
			background-image: background_image_from_svg_content('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24" fill="rgba(255,255,255,0.99)"><path d="M12.01 10.608L16.618 6l1.402 1.402-4.608 4.608 4.608 4.608-1.402 1.402-4.608-4.608-4.608 4.608L6 16.618l4.608-4.608L6 7.402 7.402 6z"/></svg>');
			background-size: auto 32px;
			background-color: $def-danger;
		}

		article {

			h2 {
				color: $def-danger;
			}
		}

		footer {

			button {
				background-color: $def-danger;
			}

			button:hover, button:focus {
				background-color: $def-danger-shade;
			}
		}
	}

	.popup-body#default-alert-popup-body.notice {

		&:before {
			background-image: background_image_from_svg_content('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgba(255,255,255,0.99)"><path d="M12 6c-3.3 0-6 2.7-6 6 0 2 1 3.8 2.5 4.8l.2.6c.2.9 1 1.5 1.9 1.5h2.9c.9 0 1.7-.6 1.9-1.5l.2-.6C17 15.8 18 14 18 12c0-3.3-2.7-6-6-6zm2.4 9.2c-.4.3-.6.7-.8 1.1l-.2.7h-2.8l-.2-.6c-.1-.5-.4-.9-.8-1.1-1-.8-1.6-2-1.6-3.3 0-2.2 1.8-4 4-4s4 1.8 4 4c0 1.3-.6 2.5-1.6 3.2zM12 22c1.4 0 2.7-.8 3-2H9c.3 1.1 1.6 2 3 2zM11 2h2v2h-2V2zm6.662 1.697l1.532 1.285-1.286 1.532-1.532-1.285 1.286-1.532zm4.012 5.582l.348 1.97-1.97.347-.347-1.97 1.97-.347zm-.514 6.855l-1 1.732-1.732-1 1-1.732 1.732 1zM3.84 17.866l-1-1.732 1.732-1 1 1.732-1.732 1zm-1.862-6.618l.348-1.97 1.97.348-.348 1.97-1.97-.348zm2.828-6.266l1.532-1.285 1.286 1.532-1.532 1.285-1.286-1.532z"/></svg>');
			background-size: auto 24px;
			background-color: $def-blue;
		}

		article {

			h2 {
				color: $def-blue;
			}
		}

		footer {

			button {
				background-color: $def-blue;
			}

			button:hover, button:focus {
				background-color: $def-blue-shade;
			}
		}
	}

	.popup-body#default-confirm-popup-body {
		button.yes {
			background-color: $def-purple;
		}

		button.yes:hover, button.yes:focus {
			background-color: $def-purple-shade;
		}

		button.no {
			background-color: $def-danger;
		}

		button.no:hover, button.no:focus {
			background-color: $def-danger-shade;
		}
	}
}
