.popup {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup.ng-hide {
  background-color: rgba(0, 0, 0, 0);
}

.popup.ng-hide .popup-body {
  top: 100%;
}

.popup.ng-animate {
  transition: background-color 0.3s ease;
}

.popup.ng-animate .popup-body {
  transition: top 0.3s ease;
}

.popup .popup-body {
  position: relative;
  top: 0;
  width: 600px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

.popup .popup-body#default-alert-popup-body,
.popup .popup-body#default-confirm-popup-body {
  overflow: visible;
  text-align: center;
}

.popup .popup-body#default-alert-popup-body:before,
.popup .popup-body#default-confirm-popup-body:before {
  content: "";
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  margin: 0 auto -34px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.popup .popup-body#default-alert-popup-body article,
.popup .popup-body#default-confirm-popup-body article {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 55px 15px 25px;
  overflow: hidden;
  background-color: white;
}

.popup .popup-body#default-alert-popup-body article h2,
.popup .popup-body#default-confirm-popup-body article h2 {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
}

.popup .popup-body#default-alert-popup-body article h2:not(:last-child),
.popup .popup-body#default-confirm-popup-body article h2:not(:last-child) {
  margin-bottom: 20px;
}

.popup .popup-body#default-alert-popup-body article p,
.popup .popup-body#default-confirm-popup-body article p {
  margin-top: 0;
  font-size: 13px;
  font-weight: 400;
  color: #acacac;
}

.popup .popup-body#default-alert-popup-body article p a,
.popup .popup-body#default-confirm-popup-body article p a {
  color: #0fc389;
}

.popup .popup-body#default-alert-popup-body article p a:not(:hover):not(:focus),
.popup
  .popup-body#default-confirm-popup-body
  article
  p
  a:not(:hover):not(:focus) {
  text-decoration: none;
}

.popup .popup-body#default-alert-popup-body footer,
.popup .popup-body#default-confirm-popup-body footer {
  display: flex;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

.popup .popup-body#default-alert-popup-body footer button,
.popup .popup-body#default-confirm-popup-body footer button {
  flex-grow: 1;
  padding: 20px 10px;
  font-size: 19px;
  font-weight: 400;
  color: white;
  transition: background-color 0.2s;
}

.popup .popup-body#default-alert-popup-body.success:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='rgba(255,255,255,0.99)'><path d='M10.213 13.915L17.234 7l1.49 1.49L10.212 17 5 11.68l1.49-1.489z'/></svg>");
  background-size: auto 32px;
  background-color: #0fc389;
}

.popup .popup-body#default-alert-popup-body.success article h2 {
  color: #0fc389;
}

.popup .popup-body#default-alert-popup-body.success footer button {
  background-color: #0fc389;
}

.popup .popup-body#default-alert-popup-body.success footer button:hover,
.popup .popup-body#default-alert-popup-body.success footer button:focus {
  background-color: #0fb37d;
}

.popup .popup-body#default-confirm-popup-body:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200' fill='rgba(255,255,255,0.99)'><path d='M112.9 49.3v2.9l-6.8 64.1H93.5l-6.4-64.1v-2.9H112.9zM88.2 150.7v-23.2h23.9v23.2H88.2z'/></svg>");
  background-size: auto 54px;
  background-color: #ff2158;
}

.popup .popup-body#default-confirm-popup-body article h2 {
  color: #444;
}

.popup .popup-body#default-confirm-popup-body footer button {
  width: 50%;
}

.popup .popup-body#default-confirm-popup-body footer button.yes {
  background-color: #ff2158;
}

.popup .popup-body#default-confirm-popup-body footer button.yes:hover,
.popup .popup-body#default-confirm-popup-body footer button.yes:focus {
  background-color: #ee003b;
}

.popup .popup-body#default-confirm-popup-body footer button.no {
  color: #444;
  background-color: white;
  border-top: 1px solid #d7d7d7;
}

.popup .popup-body#default-confirm-popup-body footer button.no:hover,
.popup .popup-body#default-confirm-popup-body footer button.no:focus {
  background-color: #f8f8f8;
}

.popup .popup-body#default-alert-popup-body.error:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24' fill='rgba(255,255,255,0.99)'><path d='M12.01 10.608L16.618 6l1.402 1.402-4.608 4.608 4.608 4.608-1.402 1.402-4.608-4.608-4.608 4.608L6 16.618l4.608-4.608L6 7.402 7.402 6z'/></svg>");
  background-size: auto 32px;
  background-color: #ff2158;
}

.popup .popup-body#default-alert-popup-body.error article h2 {
  color: #ff2158;
}

.popup .popup-body#default-alert-popup-body.error footer button {
  background-color: #ff2158;
}

.popup .popup-body#default-alert-popup-body.error footer button:hover,
.popup .popup-body#default-alert-popup-body.error footer button:focus {
  background-color: #ee003b;
}

.popup .popup-body#default-alert-popup-body.notice:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='rgba(255,255,255,0.99)'><path d='M12 6c-3.3 0-6 2.7-6 6 0 2 1 3.8 2.5 4.8l.2.6c.2.9 1 1.5 1.9 1.5h2.9c.9 0 1.7-.6 1.9-1.5l.2-.6C17 15.8 18 14 18 12c0-3.3-2.7-6-6-6zm2.4 9.2c-.4.3-.6.7-.8 1.1l-.2.7h-2.8l-.2-.6c-.1-.5-.4-.9-.8-1.1-1-.8-1.6-2-1.6-3.3 0-2.2 1.8-4 4-4s4 1.8 4 4c0 1.3-.6 2.5-1.6 3.2zM12 22c1.4 0 2.7-.8 3-2H9c.3 1.1 1.6 2 3 2zM11 2h2v2h-2V2zm6.662 1.697l1.532 1.285-1.286 1.532-1.532-1.285 1.286-1.532zm4.012 5.582l.348 1.97-1.97.347-.347-1.97 1.97-.347zm-.514 6.855l-1 1.732-1.732-1 1-1.732 1.732 1zM3.84 17.866l-1-1.732 1.732-1 1 1.732-1.732 1zm-1.862-6.618l.348-1.97 1.97.348-.348 1.97-1.97-.348zm2.828-6.266l1.532-1.285 1.286 1.532-1.532 1.285-1.286-1.532z'/></svg>");
  background-size: auto 24px;
  background-color: #0d83cd;
}

.popup .popup-body#default-alert-popup-body.notice article h2 {
  color: #0d83cd;
}

.popup .popup-body#default-alert-popup-body.notice footer button {
  background-color: #0d83cd;
}

.popup .popup-body#default-alert-popup-body.notice footer button:hover,
.popup .popup-body#default-alert-popup-body.notice footer button:focus {
  background-color: #1375b2;
}

.popup .popup-body#default-confirm-popup-body button.yes {
  background-color: #8151a8;
}

.popup .popup-body#default-confirm-popup-body button.yes:hover,
.popup .popup-body#default-confirm-popup-body button.yes:focus {
  background-color: #492f5c;
}

.popup .popup-body#default-confirm-popup-body button.no {
  background-color: #ff2158;
}

.popup .popup-body#default-confirm-popup-body button.no:hover,
.popup .popup-body#default-confirm-popup-body button.no:focus {
  background-color: #ee003b;
}
