@import "default";
@import "constants";

.rebo {
	@include box-sizing(border-box);
	border: 1px solid;
	padding: 10px 12px;
	text-align: center;
	font-size: 12px;
	font-weight: 200;
	@include transition(border-color $def-transition_duration, opacity $def-transition_duration, color $def-transition_duration, background-color $def-transition_duration);

	svg {
		@include transition(fill $def-transition_duration);
	}
}

a.rebo {
	display: inline-block;
	text-decoration: none;
}

.rebo.big {
	padding: 12px 15px;
	font-size: 14px;
}

.rebo.small {
	padding: 5px;
}

.rebo:not(.no-border-radius) {
	@include border-radius($def-radius);
}

.rebo.green:not(:disabled) {
	border-color: $def-green;
	color: white;
	background-color: $def-green;

	svg {
		fill: white;
	}

	&:hover, &:focus {
		border-color: $def-green-shade;
		background-color: $def-green-shade;
	}
}

.rebo.danger:not(:disabled) {
	border-color: $def-danger;
	color: white;
	background-color: $def-danger;

	svg {
		fill: white;
	}

	&:hover, &:focus {
		border-color: $def-danger-shade;
		background-color: $def-danger-shade;
	}
}

.rebo.grey:not(:disabled) {
	border-color: $def-grey;
	color: white;
	background-color: $def-grey;

	svg {
		fill: white;
	}

	&:hover, &:focus {
		border-color: $def-mediumdarkgrey;
		background-color: $def-mediumdarkgrey;
	}
}

.rebo.light.green:not(:disabled) {
	border-color: $def-green;
	color: $def-green;
	background-color: $def-green-verylight;

	svg {
		fill: $def-green;
	}

	&:hover, &:focus {
		border-color: $def-green;
		color: white;
		background-color: $def-green;

		svg {
			fill: white;
		}
	}
}

.rebo.light.danger:not(:disabled) {
	border-color: $def-danger;
	color: $def-danger;
	background-color: $def-danger-light;

	svg {
		fill: $def-danger;
	}

	&:hover, &:focus {
		border-color: $def-danger;
		color: white;
		background-color: $def-danger;

		svg {
			fill: white;
		}
	}
}

.rebo.light.grey:not(:disabled) {
	border-color: $def-mediumlightgrey;
	color: black;
	background-color: $def-verylightgrey;

	svg {
		fill: black;
	}

	&:hover, &:focus {
		border-color: $def-mediumlightgrey;
		background-color: $def-mediumlightgrey;
	}
}

.rebo.hollow.grey:not(:disabled) {
	border-color: $def-mediumlightgrey;
	color: $def-mediumlightgrey;
	background-color: transparent;

	svg {
		fill: $def-mediumlightgrey;
	}

	&:hover, &:focus {
		border-color: $def-grey;
		color: $def-grey;

		svg {
			fill: $def-grey;
		}
	}
}

.rebo.hollow.danger:not(:disabled) {
	color: $def-danger;
	background-color: transparent;

	svg {
		fill: $def-danger;
	}

	&:hover, &:focus {
		border-color: $def-danger;
		background-color: $def-danger;
		color: white;

		svg {
			fill: white;
		}
	}
}

.rebo:disabled {
	border-color: $def-mediumlightgrey;
	color: white;
	background-color: $def-mediumlightgrey;

	svg {
		fill: white;
	}
}

.rebo.delete {
	@include size(22px);
	padding: 0;

	svg:only-child {
		@include position(relative, -1px);
		@include size(8px);
	}
}
