.rebo {
	box-sizing: border-box;
	border: 1px solid;
	border-radius: 4px;
	padding: 10px 12px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	transition:
	  border-color 0.2s,
	  color 0.2s,
	  background-color 0.2s;
	border-color: #683d87;
	background-image: linear-gradient(to top, #450674, #6c0eb2);
  }
  
  .rebo:hover,
  .rebo:focus {
	background-image: linear-gradient(to top, #351d48, #351d48);
  }
