$section-horizontalspacing: 40px;
$expose_header-text_change_screenwidth: 1200px;
$layout-style_change_screenwidth: 1000px;
$column_left-width: 40%;
$details_icon-width: 30px;
$details_icon_and_column-spacing: 15px;
$expose-width: 220px;
$expose-width-below-inclusive: 140px;
$action_dropdown_icon-spacing: 15px;
$action_dropdown_icon-width: 26px;