@import "default";
@import "constants";

.tab-yml {

	#code-container {
		height: 100%;
		min-height: 640px;
	}

	section {
		margin-bottom: 20px;
	}

	section.cardo {

		&:not(.ninja) > p.notification {
			@include margin-y(0);
			@include border-x(none);
			@include border-radius(0);
			padding: $cardo-verticalpadding $cardo-horizontalpadding;
		}

		header {
			@include display-flex;
			@include justify-content(space-between);

			a.download-app-config {
				@include align-self(center);
				margin-left: 8px;
			}

			@include media-below-mid {
				@include flex-direction(column);

				a.download-app-config {
					@include align-self(stretch);
					margin-left: 0;
					margin-top: 10px;
				}
			}
		}

		article {
			padding: 0;

			p.progress-indicator {
				@include margin-y(0);
				@include border-x(none);
				border-bottom: none;
				@include border-radius(0);
			}
		}
	}
}
