@import "default";
@import "constants";

.tab-yml {
	width: 100%;

	#code-container {
		width: 100%;
		min-height: calc(100vh - 201px);

		.monaco-editor {
			padding-top: 1rem;
			outline: 0;
		}
		.monaco-editor textarea:focus {
			box-shadow: none;
		}
	}

	section.cardo {
		article {
			padding: 0;
		}
	}
}
