@import "default";
@import "constants";

.tab-stack {
	$content-spacing: 10px;

	.stack-settings {
		margin-bottom: 30px;

		.notification-block {
			display: block;
			max-width: 78rem;

			&.rollback-warning {
				margin-top: 16px;
			}

			&.invalid-version {
				margin-bottom: 16px;
			}
		}

		article {
			@include padding-y(0);

			section {
				@include padding-y(18px);

				.max-width-wrapper {
					max-width: 550px;
				}
			}
		}

		.notification.stack-error {
			margin-top: 0;
			margin-bottom: $content-spacing;
		}

		.stack-selector-wrapper {
			margin-bottom: $content-spacing;

			.stack-selector {
				width: 100%;
			}
		}

		.stack-info {
			display: flex;
			@include align-items(flex-start);
			width: 100%;
			$icon-size: 18px;
			$spacing: 8px;

			.info-badge-wrapper {
				@include margin-x(14px);

				svg {
					display: block;
					@include size($icon-size);
				}
			}

			.stack-info-text {
				flex-grow: 1;

				.stack-description, .stack-update-policy {
					line-height: 1.5;
					margin-top: 0;
					margin-bottom: $spacing;
					font-size: 15px;
					font-weight: 400;
					color: $def-darkgrey;

					&:not(.ninja) > p:first-child {
						margin-top: 0;
					}
				}

				a {
					color: $def-green;
					font-weight: 500;
					text-decoration: none;

					&:hover, &:focus {
						text-decoration: underline;
					}
				}

				.stack-info-multistack {
					font-size: 15px;
					font-weight: 400;
					color: $def-darkgrey;

					&:not(:last-child) {
						margin-bottom: 6px;
					}
				}

				.stack-info-link {
					font-size: 15px;
					font-weight: 500;
					color: $def-green;

					&:not(:last-child) {
						margin-bottom: 6px;
					}

					&:hover, &:focus {
						text-decoration: underline;
					}
				}

				a.stack-info-link {
					text-decoration: none;
				}
			}
		}

		.docker-image-settings {
			margin-top: 18px;

			.docker-image-label, .den-tag-label {
				display: block;
				margin-bottom: 4px;
				font-size: 13px;
				font-weight: 700;
			}

			.docker-image, .den-tags {
				display: block;
				box-sizing: border-box;
				width: 100%;
				border: 1px solid $def-mediumlightgrey;
				@include border-radius($def-radius);
				padding: 7px 12px;
				font-size: 13px;

				&:disabled {
					color: $def-grey;
				}
			}
		}

		.machine-type-settings {
			border-top: 1px solid $def-mediumlightgrey;

			.machine-type-header {
				font-size: 19px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.08px;
				color: #222222;
				margin-top: 0;
				margin-bottom: 0;
			}

			.machine-type-subheader {
				font-size: 16px;
				font-weight: bold;
				line-height: 24px;
				color: #000000;
				margin-top: 32px;
				margin-bottom: -8px;
			}

			.machine-type-warning {
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				color: #000000;
				margin-top: 16px;
				margin-bottom: 24px;
			}

			.machite-type-tag {
				margin: 16px 0;

				.title {
					text-transform: capitalize;
					font-size: 16px;
					font-weight: 700;
					color: $def-darkgrey;
					margin-right: 16px;
				}

				.subtitle {
					font-size: 13px;
					font-weight: 500;
					color: #777;
				}
			}

			.machine-types {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin-top: 16px;
				gap: 18px;

				.machine-type-wrapper {
					position: relative;
					display: flex;
					flex-direction: row;
					width: 425px;
					max-width: 100%;
					padding: 12px;
					border-radius: 8px;
					border: 1px solid $def-grey;

					.machine-type-data {
						display: flex;
						flex-direction: column;
						margin-left: 16px;
						width: 100%;

						.top {
							display: flex;
							align-items: center;
							width: 100%;
							flex-wrap: wrap;
							justify-content: space-between;

							.icon-and-name-and-note {
								display: flex;
								align-items: center;
								margin-right: 12px;
								min-width: 0;
								text-overflow: ellipsis;

								.stack-type-icon {
									display: flex;
									margin-right: 8px;

									svg {
										width: 16px;
										height: 18px;
										fill: var(--color-black);
									}
								}

								.name {
									font-size: 16px;
									font-weight: bold;
									font-style: normal;
									font-stretch: normal;
									line-height: 1;
									letter-spacing: 0.08px;
									color: var(--color-black);
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis;								
									margin-right: 8px;
								}

								.tag {
									border-radius: 4px;
									background-color: $def-grey;
									color: #ffffff;
									text-transform: uppercase;
									font-size: 10px;
									letter-spacing: .8px;
									font-weight: 500;
									padding: 1px 6px;

									&.gen2 {
										background-color: $def-green-shade;
									}
								}

								.note {
									position: absolute;
									top: -12px;
									right: 10px;
									padding: 4px 6px;
									padding-top: 5px;
									border-radius: 4px;
									font-size: 12px;
									font-weight: 500;
									font-style: normal;
									font-stretch: normal;
									line-height: normal;
									text-transform: uppercase;
									color: #351d48;
									background-color: $def-yellow;
								}
							}

							.credit-per-min {
								font-size: 16px;
								font-weight: bold;
								color: var(--color-black);
							}
						}

						.separator {
							height: 1px;
							@include margin-y(8px);
							background-color: $def-verylightgrey;
						}

						.bottom {
							display: flex;
							justify-content: space-between;
							font-size: 14px;
							font-weight: 400;
							color: $def-darkgrey;

							.os {
								max-width: 90px;
								margin-left: 8px;
								text-align: right;
							}
						}
					}

					.machine-type-icon {
						display: flex;
						align-items: center;

						svg {
							top: 0px;
							@include size(88px, 88px);
							fill: $def-darkgrey;
						}
					}

					&.not-available {
						opacity: 0.7;
					}

					&.selected:not(.not-available) {
						border: 1px solid $def-violet_blue;
						background-color: $def-light-grape;
					}

					&:not(.selected):not(.not-available):hover {
						cursor: pointer;
						border: 1px solid $def-violet_blue;
						background-color: $def-light-grape;

						.machine-type-data {

							.top, .bottom {
								color: $def-violet_blue;

								.name, .credit-per-min {
									color: $def-violet_blue;

								}

								.stack-type-icon svg {
									fill: $def-violet_blue;
								}
							}

							.separator {
								background-color: $def-violet_blue;
							}
						}

						.machine-type-icon svg {
							fill: $def-violet_blue;
						}
					}

					@include media-below-mid {

						.machine-type-data {
							.separator {
								margin-top: 9px;
								margin-bottom: 9px;
							}

							.top, .bottom {
								flex-direction: column;
								align-items: flex-start;

								.icon-and-name-and-note {
									margin-right: 0;
								}

								.os {
									max-width: none;
									text-align: left;
									margin-top: 4px;
									margin-left: 0;
								}
							}
						}
					}

					@media only screen and (max-width: 360px) {
						min-width: auto;

						.machine-type-icon {
							display: none;
						}
					}
				}
			}
		}

		.previous-version-settings {
			border-top: 1px solid $def-mediumlightgrey;
			padding-top: 18px;

			.input-and-label {
				display: flex;
				gap: 8px;
				align-items: center;
			}

			&.workflow-specific {
				margin-top: 16px;
			}
		}
	}

	.stack-settings.default {
		header {

			.header-description {

				a {
					font-weight: 600;
					color: inherit;

					&:hover, &:focus {
						color: $def-green;
					}
				}
			}
		}
	}

	.stack-settings.workflow-specific {

		article {

			.workflow {

				&:not(:last-child) {
					border-bottom: 1px solid $def-mediumlightgrey;
				}

				.workflow-header {
					margin-top: 0;
					margin-bottom: $content-spacing;
					font-size: 16px;
					color: $def-darkgrey;
					font-weight: 400;

					.workflow-id {
						font-weight: 700;
					}
				}

				.stack-selector-wrapper {
					position: relative;

					&:not(.default) label.default-stack {
						display: none;
					}

					&.default {

						.stack-selector {
							padding-right: 90px;
						}

						label.default-stack {
							$badge-height: 14px;

							@include position(absolute, 50%, 30px);
							box-sizing: border-box;
							line-height: $badge-height;
							margin-top: - $badge-height / 2;
							@include border-radius($badge-height / 2);
							@include padding-x(5px);
							font-size: 10px;
							letter-spacing: 0.5px;
							font-weight: 400;
							text-transform: uppercase;
							color: white;
							background-color: $def-blue;
						}
					}
				}

				.machine-type-settings {
					margin-top: 18px;
					padding-top: 18px;
					padding-bottom: 0;

				}
			}
		}
	}
}
