$def-transition_duration: 0.2s;

$def-green: #3bc3a3;
$def-green-shade: #3aa792;
$def-mediumdarkgrey: #959595;
$def-grey: #aaaaaa;
$def-mediumlightgrey: #cccccc;
$def-ultralightgrey: #f4f4f4;

$def-button-border_radius: 3px;

$def-zindex-popup: 100;
