@import "default";
@import "constants";

article.editor {

	ul.steps[order-steps-by-drag] > li {
		position: relative;
		top: 0;
	}
}

.popup-body-add-step {

	.type-tag-filter {
		display: inline-block;
	}
}
