// Major layouts

@import "_index.scss";
@import "_tab-env_vars.scss";
@import "_tab-stack.scss";

// Common elements

@import "_rebo";
@import "_cardo";
@import "_popup.scss";
@import "_notification-progress-indicator.scss";
@import "_order-by-drag";

@import "~monaco-editor/min/vs/editor/editor.main.css";

// Basic settings

:focus {
  outline: none;
}

input,
textarea,
select {
  font-family: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select:-moz-focusring {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 black;
}

html {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

button,
input[type="submit"],
input[type="radio"] {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

button {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

input[type="submit"] {
  appearance: none;
}

.mak {
  appearance: none;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px 12px;
  padding-right: 32px;
  text-align: left;
  font-size: 16px;
  transition: background-color 0.2s;
  background-color: #fff;
  background-image: url("../images/arrow-down-dark.svg");
  background-size: 8px auto;
  background-position: right 12px center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mak:hover,
.mak:focus {
  background-color: #ececec;
}

.checkbox {
  z-index: 0;
  position: relative;
  width: 46px;
  height: 22px;
  border-radius: 4px;
  overflow: hidden;

  &:before {
    z-index: -2;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d7d7d7;
  }

  input[type="checkbox"] {
    display: block;
    width: 100%;
    height: 100%;
    appearance: none;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox-svg-wrapper {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: right 0.2s, background-color 0.2s, opacity 0.2s;
    background-color: #0fc389;

    svg[check],
    svg[cross] {
      position: absolute;
      transition: opacity 0.2s;
      fill: #fff;
    }

    svg[check] {
      width: 24px;
      height: 24px;
      top: -1px;
      left: 0;
    }

    svg[cross] {
      width: 24px;
      height: 24px;
      top: -1px;
      left: 0;
    }
  }

  input[type="checkbox"]:not(:checked) + .checkbox-svg-wrapper {
    right: 50%;
    background-color: #ff2158;
  }

  input[type="checkbox"]:disabled + .checkbox-svg-wrapper {
    opacity: 0.5;
  }

  input[type="checkbox"]:not(:checked) + .checkbox-svg-wrapper svg[check],
  input[type="checkbox"]:checked + .checkbox-svg-wrapper svg[cross] {
    opacity: 0;
  }

  input[type="checkbox"]:checked:not(:disabled):hover + .checkbox-svg-wrapper,
  input[type="checkbox"]:checked:not(:disabled):focus + .checkbox-svg-wrapper {
    background-color: #0fb37d;
  }

  input[type="checkbox"]:not(:checked):not(:disabled):hover + .checkbox-svg-wrapper,
  input[type="checkbox"]:not(:checked):not(:disabled):focus + .checkbox-svg-wrapper {
    background-color: #ee003b;
  }

  &.small {
    width: 36px;
    height: 16px;

    .checkbox-svg-wrapper {
      svg[check] {
        width: 10px;
        height: 9px;
        top: 3px;
        left: 4px;
      }

      svg[cross] {
        width: 8px;
        height: 8px;
        top: 4px;
        left: 5px;
      }
    }
  }
}

[sanitized-markdown] {
  a {
    color: #0fc389;

    &:not(:hover):not(:focus) {
      text-decoration: none;
    }
  }

  code {
    font-family: "SourceCodePro", monospace;
    color: black;
    background-color: #ececec;
  }
}

// Common classes

.vertical-scroll {
  overflow-y: auto;
}
