@import "_index.css";

@import "_popup.css";
@import "_notification-progress-indicator.css";

:focus {
  outline: none;
}

input,
textarea,
select {
  font-family: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select:-moz-focusring {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 black;
}

html {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

button,
input[type="submit"],
input[type="radio"] {
  cursor: pointer;
}

button:disabled,
input[type="submit"]:disabled,
input[type="radio"]:disabled {
  cursor: not-allowed;
}

button {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

input[type="submit"] {
  appearance: none;
}

.mak {
  appearance: none;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px 12px;
  padding-right: 32px;
  text-align: left;
  font-size: 16px;
  transition: background-color 0.2s;
  background-color: #fff;
  background-image: url("../images/arrow-down-dark.svg");
  background-size: 8px auto;
  background-position: right 12px center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mak:hover,
.mak:focus {
  background-color: #ececec;
}

[sanitized-markdown] a {
  color: #0fc389;
}

[sanitized-markdown] a:not(:hover):not(:focus) {
  text-decoration: none;
}

[sanitized-markdown] code {
  font-family: "SourceCodePro", monospace;
  color: black;
  background-color: #ececec;
}

.vertical-scroll {
  overflow-y: auto;
}
