@import "default";
@import "constants";

.progress-indicator {
	border: 1px solid;
	@include border-radius($def-progress_indicator-radius);
	padding: 10px;
}

@mixin progress_indicator_styling($color, $background_color) {
	border-color: $color;
	color: $color;
	background-color: $background_color;
}

.progress-indicator.in-progress {
	@include progress_indicator_styling($def-purple, $def-purple-light);
}

.progress-indicator.error {
	@include progress_indicator_styling($def-danger, $def-danger-light);
}

.progress-indicator.success {
	@include progress_indicator_styling($def-green-shade, $def-green-light);
}
