@import "default";
@import "constants";

.tab-workflows {

	section.manage-workflow {
		$icon_size: 52px;

		@include display-flex;

		ul.steps {
			margin-top: 0;
			margin-right: 12px;
			padding-left: 0;
			list-style: none;
			@include flex-shrink(0);

			li {
				$margin: 8px;

				width: 100%;
				margin-bottom: $margin;

				button.add-step {
					width: $icon_size;
					margin-bottom: $margin;
					@include border-radius($def-radius);
					@include padding-y(4px);
					@include transition(background-color $def-transition_duration);
					background-color: $def-mediumlightgrey;

					svg {
						@include size(12px, auto);
						fill: white;
					}
				}

				button.add-step:hover, button.add-step:focus {
					color: white;
					background-color: $def-darkgrey;
				}

				button.step {
					@include display-flex;
					@include align-items(stretch);

					span.icon {
						@include size($icon_size);
						border: 1px solid $def-lightgrey;
						@include border-radius($def-radius);
						background-size: cover;
					}

					span.info {
						@include display-flex;
						@include flex-direction(column);
						@include justify-content(center);
						@include align-items(flex-start);
						width: 280px;
						border: 1px solid $def-mediumlightgrey;
						@include border-radius($def-radius);
						@include padding-x(20px);
						@include transition(border-color $def-transition_duration, color $def-transition_duration, background-color $def-transition_duration);
						background-color: $def-verylightgrey;

						strong {
							@include display-flex;
							@include align-items(center);
							max-width: 100%;
							font-size: 14px;
							font-weight: 400;

							span.title {
								@include flex-shrink(1);
								@include ellipsis-oneliner;
							}

							span.verified {
								margin-left: 5px;

								svg {
									width: 10px;
									height: auto;
								}
							}
						}

						em.version {
							display: block;
							@include ellipsis-oneliner;
							font-size: 12px;
							font-style: normal;
							font-weight: 100;
							color: $def-grey;
						}
					}

					span.icon + span.info {
						margin-left: $margin;
					}
				}

				button.step:hover span.info, button.step:focus span.info, button.step.selected span.info {
					$color: $def-darkgrey;

					border-color: $color;
					color: white;
					background-color: $color;
				}

				@include media-below-big {
					
					button.step span.info {
						width: 220px;
					}
				}

				@include media-below-mid {
					
					button.step span.info {
						display: none;
					}
				}

				@include media-below-small {
					$icon_size_small: 36px;

					button.add-step {
						width: $icon_size_small;
					}
					
					button.step span.icon {
						@include size($icon_size_small);
					}
				}
			}
		}

		ul.steps.drag-in-progress {

			li {

				button.add-step {
					visibility: hidden;
				}
			}

			li.dragged-element {
				z-index: $zindex-dragged_element;
			}
		}

		aside.step-details {
			$horizontalpadding: 25px;

			@include flex-grow(1);

			.bitrise-steplib-step-details {

				header.manage-step {
					@include display-flex;
					@include box-sizing(border-box);
					height: $icon_size;
					border: 1px solid $def-mediumlightgrey;
					@include border-radius($def-radius);
					background-color: $def-verylightgrey;

					.title {
						@include flex-grow(1);
						@include display-flex;
						@include padding-x($horizontalpadding);

						button.rename {
							font-size: 14px;
							font-weight: 400;
							color: $def-darkgrey;
						}

						strong.verified {
							$radius: 8px;

							@include align-self(center);
							line-height: 2 * $radius;
							margin-left: 15px;
							@include border-radius($radius);
							@include padding-x(10px);
							font-size: 9px;
							font-weight: 200;
							text-transform: uppercase;
							color: white;
							background-color: $def-green;
						}
					}

					.rename-title {
						@include flex-grow(1);
					}
				}
			}
		}
	}
}

.popup-body-add-step {

	.type-tag-filter {
		display: inline-block;
	}
}
