.guided-onboarding-collapsible {
  color: #421000; //orange10
  position: sticky;

  .title {
    background-color: #FFE9CF; //orange93
    padding: 16px 32px;
    border-bottom: 1px solid #FFD5A3; //orange90
  }

  .content {
    padding: 16px 32px;
  }
  .content-wrapper {
    background-color: #FFF4E5; //orange95
    overflow: hidden;
    transition: height 0.2s ease-in-out;
  }
}
