r-root-component

.layout[ng-controller="MainController as mainCtrl" ng-init="mainCtrl.init()" style="display: contents"]
  .progress-indicator[progress-model="mainCtrl.initAppProgress" style="margin: 24px 32px"]
  .new-layout[ng-if="!mainCtrl.initAppProgress.isInProgress"]
    r-header.header[
      is-website-mode="mainCtrl.isWebsiteMode"
      app-path="mainCtrl.appPath()"
      app-name="mainCtrl.appNameWithPlaceholder()"
      workspace-path="mainCtrl.breadCrumbsAccountPath()"
      is-diff-editor-enabled="mainCtrl.isDiffEditorEnabled"
      is-diff-disabled="!mainCtrl.isDiffEnabled()"
      on-diff-click="mainCtrl.openDiffDialog"
      on-discard-click="mainCtrl.discardChangesSelected"
      is-discard-disabled="!mainCtrl.isDiscardEnabled()"
      on-save-click="mainCtrl.save"
      is-save-disabled="!mainCtrl.isSaveEnabled()"
      is-save-in-progress="mainCtrl.saveProgress.isInProgress"
    ]

    r-navigation.navigation[
      ng-if="mainCtrl.shouldShowMenuBar()"
      items="mainCtrl.menus"
      active-item="mainCtrl.currentMenu"
      on-item-selected="mainCtrl.menuSelected"
    ]

    r-diff-dialog[
      ng-if="mainCtrl.isDiffEditorEnabled"
      is-open="mainCtrl.isDiffDialogOpen"
      on-close="mainCtrl.closeDiffDialog"
      original-text="mainCtrl.originalYaml"
      modified-text="mainCtrl.modifiedYaml"
      on-change="mainCtrl.saveDiffChanges"
    ]

    r-config-merge-dialog[
      on-save="mainCtrl.saveConfigMergeDialogResult"
      on-close="mainCtrl.closeConfigMergeDialog"
    ]

    main.main
      p.progress-indicator[progress-model="mainCtrl.menuProgress"]
      p.progress-indicator[progress-model="mainCtrl.loadDataProgress"]
      p.progress-indicator[progress-model="mainCtrl.changeMenuProgress"]
      .tab-content[ng-view ng-if="mainCtrl.isTabEnabledForMenu(mainCtrl.currentMenu)"]

  r-update-configuration-dialog[
    ng-if="mainCtrl.isUpdateConfigurationDialogOpen"
    app-slug="appService.appDetails.slug"
    on-close="mainCtrl.closeUpdateConfigurationDialog"
    on-complete="mainCtrl.onSaveToRepoComplete"
    get-data-to-save="mainCtrl.getDataToSave"
    default-branch="mainCtrl.defaultBranch"
    git-repo-slug="mainCtrl.gitRepoSlug"
  ]

aside[ng-controller="DefaultPopupController as defaultPopupCtrl"]
  popup[model="defaultPopupCtrl.alertPopup"]
    .popup-body#default-alert-popup-body[ng-class="defaultPopupCtrl.alertPopup.parameters.type.cssClass"]
      article.vertical-scroll
        h2[ng-bind="defaultPopupCtrl.alertPopup.parameters.title"]
        p[ng-repeat="detail in defaultPopupCtrl.alertPopup.parameters.details" ng-bind-html="detail"]
      footer
        button[ng-click="defaultPopupCtrl.alertPopup.isVisible = false" ng-bind="defaultPopupCtrl.alertPopup.parameters.okTitle" data-e2e-tag="confirm-button"]
  popup[model="defaultPopupCtrl.confirmPopup"]
    .popup-body#default-confirm-popup-body
      article.vertical-scroll
        h2[ng-bind="defaultPopupCtrl.confirmPopup.parameters.title"]
        p[ng-repeat="detail in defaultPopupCtrl.confirmPopup.parameters.details" ng-bind-html="detail"]
      footer
        button.yes[ng-click="defaultPopupCtrl.confirmPopup.parameters.yesSelected()" ng-bind="defaultPopupCtrl.confirmPopup.parameters.yesTitle" data-e2e-tag="confirm-button"]
        button.no[ng-click="defaultPopupCtrl.confirmPopup.parameters.noSelected()" ng-bind="defaultPopupCtrl.confirmPopup.parameters.noTitle" data-e2e-tag="cancel-button"]
