article.secrets[ng-controller="SecretsController as secretsCtrl"]
	p.progress-indicator[progress-model="secretsCtrl.loadSecretsProgress"]
	p.progress-indicator[progress-model="secretsCtrl.loadTemplateProgress"]
	ng-include[ng-show="secretsCtrl.loadTemplateProgress.isIdle" src="'#{ data[:routes][:env_var_editor_template] }'" onload="secretsCtrl.loadTemplateProgress.success()"]
