.secrets[ng-controller="SecretsController as secretsCtrl"]
	p.progress-indicator[progress-model="secretsCtrl.loadSecretsProgress"]
	p.progress-indicator[progress-model="secretsCtrl.loadTemplateProgress"]
	ng-include[ng-show="secretsCtrl.loadTemplateProgress.isIdle" src="'#{ template_path(data[:routes][:templates][:env_var_editor]) }'" onload="secretsCtrl.loadTemplateProgress.success()"]
