.tab-step-bundles[ng-controller="StepBundlesController as stepbundlesCtrl" ng-init="stepbundlesCtrl.init()"]
  r-step-bundles-page[
    on-change="stepbundlesCtrl.onChangeYml"
    yml="stepbundlesCtrl.yml"
  ]
