.tab-triggers.menu-content-padding[ng-controller="TriggersController as triggersCtrl"]
	r-triggers-page[
		on-trigger-map-change="triggersCtrl.onTriggerMapChange"
		pipelines="triggersCtrl.pipelines"
		trigger-map="triggersCtrl.triggerMap"
		set-discard="triggersCtrl.setDiscard"
		workflows="triggersCtrl.workflows"
		is-website-mode="triggersCtrl.isWebsiteMode"
		integrations-url="triggersCtrl.integrationsUrl"
	]
