@import "../../../../../stylesheets/default";

$step-icon-size: 52px;

r-step-item {
  display: block;
}

button.step {
  @include lazy-loaded-image-container($step-icon-size);

  display: flex;

  .version {
    .Badge {
      padding: 0 0.18rem;
      font-weight: 700;
    }

    .Icon {
      height: 15px !important;
      width: auto !important;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
