@import "../../../../stylesheets/constants";

.WorkflowSelectorItem {
	border-top: 1px solid $def-lightgrey;

	&:not(&_editing):hover {
		background: $def-purple;
		color: var(--color-white);
	}

	&_active:not(&_editing) {
		background: $def-purple;
		color: var(--color-white);
	}
}

.WorkflowSelectorItem--label {
	white-space: normal;
	word-break: break-word;
	padding-right: var(--size--x3);
}

.WorkflowSelectorItem--rename {
	&:hover {
		text-decoration: underline;
	}
}

.WorkflowEditSubmit {
	background: $def-purple;
	color: var(--color-white);

	&_invalid {
		background: $def-danger;
		cursor: not-allowed;
	}
}
